/*************************************
************ CARD STYLES *************
*************************************/

.card {
    border-radius: 20px;
    background-color: #1a1a1a;
    color: #b7b7b7 !important;
    display: inline-block;
    margin: 10px;
}

.card.top-stories {
    width: 300px;
}

.card-content p.content {
        width: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* line-height: 16px; */
        /* max-height: 32px; */
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.card-header {
    padding: 10px;
}

.card-header p {
    color: #b7b7b7;
}

.card-image {
    height: 200px; 
    overflow: hidden;
}

.card-image img {
    opacity: 0.85;
    min-width: 100%;
    flex-shrink: 0;
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.card-image img:hover {
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card-footer {
    /* justify-content: center; */
    align-items: center;
    border: none;
}

.card-footer p {
    font-size: 11px;
    font-weight: bold;
}

a.button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

a.button:hover {
    background-color: #1E90FF;
    box-shadow: 0px 3px 20px rgba(30, 143, 255, 0.418);
    color: #fff;
    transform: translateY(-7px);
}

.button-div {
    text-align: right;
    width: 100%;
}

.feed {
    /* overflow-y: hidden; */
    overflow-x: hidden;
    cursor: hand;
}

h5.title {
    color: #fff;
    margin-bottom: 5px;
}

h3.title, 
.content h3 {
    color: #fff;
}