.card {
    vertical-align: top;
    border-radius: 20px;
    background-color: #1a1a1a;
    color: #b7b7b7 !important;
    display: inline-block;
    margin: 10px;
}

a.button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

a.button:hover {
    background-color: #1E90FF;
    box-shadow: 0px 3px 20px rgba(30, 143, 255, 0.418);
    color: #fff;
    transform: translateY(-7px);
}

.card-image {
    overflow: hidden;
}

.card-image img {
    opacity: 0.85;
    min-width: 100%;
    flex-shrink: 0;
    -webkit-transform: scale(0.1);
    transform: scale(1.1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.card-image img:hover {
    opacity: 1;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card-footer {
    align-items: center;
    border: none;
}

.button-div {
    text-align: right;
    width: 50%;
}

.date-div {
    width: 50%;
}